.module-list[data-v-8dbadb6c]{max-height:700px;overflow-y:scroll}.uncaptioned[data-v-8dbadb6c]{cursor:help}#app{max-width:1280px;margin:0 auto;padding:2rem;font-weight:400}.draggable{background:#ccc}
